*.swp
test-server
/recordings
dist/

# TypeScript SDK specific
sdks/typescript/node_modules/
sdks/typescript/dist/
sdks/typescript/bin/

# TypeScript SDK Sample specific
sdks/typescript/sample/node_modules/
sdks/typescript/sample/dist/
