# Ignore build outputs
**/bin/
**/obj/
*.nupkg

# macOS
.DS_Store

# Visual Studio / Rider
.vs/
*.user
*.suo

# VS Code
.vscode/

# Solution files that should not be committed from local experimentation
test-server.sln
*.swp
test-server
/recordings
dist/

# TypeScript SDK specific
sdks/typescript/node_modules/
sdks/typescript/dist/
sdks/typescript/bin/

# TypeScript SDK Sample specific
sdks/typescript/sample/node_modules/
sdks/typescript/sample/dist/
